<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="text-left">
                <h1 style="font-size:300%;">PURCHASED BOOKS</h1>
            </div>
        </div>
        <div class="col-sm">
            <div class="text-right">
                <h2></h2>
                <!-- <button class="btn btn-success" (click)="goBack()">Add Books</button> -->
            </div>
        </div>
    </div>
</div>
<div class="container">
    <br>
    <!--TODO -->
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Comment</th>
                    <th>Delivery</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of purchasedBooks ; let i = index" class="text-center">
                    <td>{{ i + 1}}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.comment }}</td>
                    <td>{{ item.delivery }}</td>
                    <td>{{ item.price }} Ft</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <button class="btn btn-success" (click)="backToDevelop()">Back to Develop</button>&nbsp;
        <!-- <button class="btn btn-success" (click)="buy()">BUY</button> -->
        <br><br><br>
    </div>
</div>