<div class="container">
  <div class="h">
    <div class="row">
      <div class="col-sm">
        <div class="text-left">
          <h1 style="font-size:300%;">BOOK ADDING</h1>
          <br><br>
        </div>
      </div>
      <div class="col-sm">
        <div class="text-right">
          <h2>You can add a new book to the list!</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h2>Title:</h2>
      </div>
      <div class="col-md-10">
        <input type="text" class="form-control" [(ngModel)]="book.title" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h2>Author:</h2>
      </div>
      <div class="col-md-10">
        <input type="text" class="form-control" [(ngModel)]="book.author" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h2>Price:</h2>
      </div>
      <div class="col-md-10">
        <input type="text" class="form-control" [(ngModel)]="book.price" />
      </div>
    </div>
    <br>
    <div class="text-right">
      <button class="btn btn-secondary" (click)="goToList()">Go To Book List</button>&nbsp;
      <button class="btn btn-primary" (click)="goToDevelop()">Go To Edit</button>&nbsp;
      <button class="btn btn-success" (click)="addBook()">Done</button>
    </div>
  </div>