.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #2ea21f;
}

.h{
    padding: 30px;
    border: black;
    border-style: groove;
    border-color: black;
    background-color: rgb(224, 224, 224);
}