.mat-checkbox  {
    border-color: black;
    background-color: #dddddd
}

/* .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    margin-top: 1px;
    margin-left: 1px;
    width: 18px;
    height: 18px;
} */

.h{
    padding: 30px;
    border: black;
    border-style: groove;
    border-color: black;
    background-color: rgb(183, 199, 219);
}